$font-popular: Arial, Helvetica, sans-serif;

$mobile-width: 600px;
$tablet-width: 768px;
$tablet-big-width: 1140px;

$color-box-shadow: #21212465;
$color-blue: #4267b2;

$header-height: 70px;
$header-height-mobile: 50px;

$header-height-shrink: 50px;
$header-height-mobile-shrink: 40px;

$font-size-desktop: 18px;
$font-size-tablet: 16px;

// LIGHT MODE
$font-color-light: #222c;
$font-color-dark: rgb(228, 228, 228);
$background-color-footer-light: rgb(230, 230, 230);

// DARK MODE
$background-color-light: #fbfaf8;
$background-color-dark: #292a32;
$background-color-footer-dark: #202129;
