.carousel {
  position: relative;
  z-index: 0;
  width: 100%;
  margin: 0 auto;
  .slide-img {
    width: 100%;
    margin: 0 auto;
  }
  .slick-arrow {
    display: none !important;
  }
  .slick-dots {
    bottom: -30px;
    li button:before {
      font-size: 15px;
    }
  }
}
